mysql-connector-python
python-dotenv
langchain
langchain-google-genai
langchain-community
langgraph
sentence-transformers
chromadb
sqlalchemy
pandas
tabulate
tiktoken
pydantic
pydantic-settings
streamlit
altair
requests
python-docx
